<div class="sidebar">
    <div class="container">
        <div class="sidebar-about">
            <h1>Engine</h1>
            <img src="/engine/img/engine-logo-2.png"></img>
        </div>
        <div class="sidebar-sticky">
            <ul class="sidebar-nav">
                <li><a href="/engine">The Engine Website</a></li>
                <li><a href="http://github.com/thrisp/engine">Engine @ github</a></li>
                <li><a href="http://github.com/thrisp/engine/issues">Issue Tracker</a></li>
            </ul>
            <h6><p>© Copyright 2014 <a href="http://github.com/thrisp">thrisp/hurrata</a></p></h6>
        </div>  
    </div>
</div>
