{{ template "theme/partials/head.html" . }}
<html>
    <body>
        <div class="container">
        {{ template "theme/partials/sidebar.html" }}
        <div id=e-right>
            {{ template "theme/partials/logo.html" . }}
            <div id=e-content>
                {{ range where .Data.Pages "Title" "engine-index"}}
                    {{ .Content}}<br>
                {{ end }}    
            </div>
        </div>
        {{ template "theme/partials/footer.html" }}
        </div>
    </body>
</html>
